void InstanceDisplay(const char* name, {{type}}& value){ 
    ImGui::Text("%s", name);
    {{#fields}}
    if (ImGui::TreeNode("{{normal_field}}")) {
        InstanceDisplay("{{normal_field}}", value.{{field}});
        ImGui::TreePop();
    }
    {{/fields}}
}

void InstanceDisplay(const char* name, const {{type}}& value){
    ImGui::BeginDisabled(true);
    ImGui::Text("%s", name);
    {{#fields}}
    if (ImGui::TreeNode("{{normal_field}}")) {
        InstanceDisplay("{{normal_field}}", value.{{field}});
        ImGui::TreePop();
    }
    {{/fields}}
    ImGui::EndDisabled();
}
