void tag_invoke(serialize_tag, builder::string_builder& builder,const {{type}}& payload){
    builder.start_object();
{{#fields}}
    builder.template append_key_value<"{{normal_name}}">(payload.{{name}});
{{#not_end}}
    builder.append_comma();
{{/not_end}}{{/fields}}
    builder.end_object();
}

auto tag_invoke(deserialize_tag,ondemand::document& val,{{type}}& payload){
    ondemand::object obj;
    auto error = val.get_object().get(obj);
    if(error){
        return error;
    }
    {{#fields}}
    if((error=obj["{{normal_name}}"].get(payload.{{name}}))){
        return error;
    }
    {{/fields}}
    return simdjson::SUCCESS;
}

auto tag_invoke(deserialize_tag,ondemand::value& val,{{type}}& payload){
    ondemand::object obj;
    auto error = val.get_object().get(obj);
    if(error){
        return error;
    }
    {{#fields}}
    if((error=obj["{{normal_name}}"].get(payload.{{name}}))){
        return error;
    }
    {{/fields}}
    return simdjson::SUCCESS;
}
