void tag_invoke(serialize_tag, builder::string_builder& builder,const {{type}}& payload){
    switch (payload) {
{{#fields}}
    case {{type}}::{{name}}:
        builder.append("{{name}}");
        break;
{{/fields}}
    }
}

auto tag_invoke(deserialize_tag, ondemand::document& val,{{type}}& payload){
    std::string_view value;

    auto error = val.get_string().get(value);
    if (error) {
        return error;
    }

{{#fields}}
    if (value == "{{name}}") {
        payload = {{type}}::{{name}};
        return simdjson::SUCCESS;
    }
{{/fields}}

    return simdjson::INCORRECT_TYPE;
}

auto tag_invoke(deserialize_tag, ondemand::value& val,{{type}}& payload){
    std::string_view value;

    auto error = val.get_string().get(value);
    if (error) {
        return error;
    }

{{#fields}}
    if (value == "{{name}}") {
        payload = {{type}}::{{name}};
        return simdjson::SUCCESS;
    }
{{/fields}}

    return simdjson::INCORRECT_TYPE;
}

void tag_invoke(serialize_tag, builder::string_builder& builder,const Flags<{{type}}>& payload){
    builder.start_array();
{{#is_zero}}
    if(payload.Value() == 0){
        builder.append("{{zero_name}}");
    }
{{/is_zero}}
{{#no_zero_fields}}
    if (payload & {{type}}::{{name}}){
        {{#not_first}}
        builder.append_comma();
        {{/not_first}}
        builder.append("{{name}}");
    }
{{/no_zero_fields}}
    builder.end_array();
}

auto tag_invoke(deserialize_tag, ondemand::document& val,Flags<{{type}}>& payload){
    simdjson::ondemand::array values;

    auto error = val.get_array().get(values);
    if (error) {
        return error;
    }
    payload  = {};

    for(auto item:values){
        std::string_view value;
        if(auto error = item.get_string().get(value)){
            return error;
        }
        bool match = false;
{{#fields}}
        if (value == "{{name}}") {
            payload |= {{type}}::{{name}};
            match = true;
        }
{{/fields}}
        if (!match) {
            return simdjson::INCORRECT_TYPE;
        }
    }
    return simdjson::SUCCESS;
}

auto tag_invoke(deserialize_tag, ondemand::value& val,Flags<{{type}}>& payload){
    simdjson::ondemand::array values;

    auto error = val.get_array().get(values);
    if (error) {
        return error;
    }
    payload  = {};

    for(auto item:values){
        std::string_view value;
        if(auto error = item.get_string().get(value)){
            return error;
        }
        bool match = false;
{{#fields}}
        if (value == "{{name}}") {
            payload |= {{type}}::{{name}};
            match = true;
        }
{{/fields}}
        if (!match) {
            return simdjson::INCORRECT_TYPE;
        }
    }
    return simdjson::SUCCESS;
}
